{% extends "base.html" %}

{% block pagetitle %}Papers for {{ todays_date }}{% end %}

{% block topjs %}
<!-- mathjax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {
  inlineMath: [['$','$'],['$$','$$']],
  processEscapes: true,
  processEnvironments: false,
  processClass: "mathjax",
  ignoreClass: "no-mathjax"
  },
  asciimath2jax: {
  delimiters: [['$','$']],
  processClass: "mathjax",
  ignoreClass: "no-mathjax"
  },
  TeX: {
  Macros: {
  AA: "\\unicode{x212B}",
  Ha: "\\mathrm{H}\\alpha",
  MEarth:"M_{\\oplus}",
  farcs:".^{\\prime\\prime}",
  MJup:"M_{\\mathrm{J}}",
  mjup:"M_{\\mathrm{J}}"
  }
  }
  });
</script>
<script
  type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% end %}

{% block pageheader %}

{% include "topbar-archive.html" %}

<div class="row no-mathjax">
  <div class="small-12 columns">
    <h1>Papers for {{ todays_date }}</h1>
  </div>
</div>

{% end %}

{% block pagecontent %}

{% if local_articles or voted_articles or reserved_articles %}

<div class="row no-mathjax">
  <div class="small-12 columns">

    <ul class="inline-list">

      {% if local_articles and len(local_articles) > 1 %}
      <li><a href="#local-papers" class="button small secondary radius"><strong>{{ len(local_articles) }}</strong> papers with local authors</a></li>
      {% elif local_articles and len(local_articles) == 1 %}
      <li><a href="#local-papers" class="button small secondary radius"><strong>1</strong> paper with local authors</a></li>
      {% end %}

      {% if voted_articles and len(voted_articles) > 1 %}
      <li><a href="#voted-papers" class="button small secondary radius"><strong>{{ len(voted_articles) }}</strong> papers with votes for today</a></li>
      {% elif voted_articles and len(voted_articles) == 1 %}
      <li><a href="#voted-papers" class="button small secondary radius"><strong>{{ len(voted_articles) }}</strong> paper with votes for today</a></li>
      {% end %}

      {% if reserved_articles and len(reserved_articles) > 1 %}
      <li><a href="#reserved-papers" class="button small secondary radius"><strong>{{ len(reserved_articles) }}</strong> papers reserved for later discussion</a></li>
      {% elif reserved_articles and len(reserved_articles) == 1 %}
      <li><a href="#reserved-papers" class="button small secondary radius"><strong>{{ len(reserved_articles) }}</strong> paper reserved for later discussion</a></li>
      {% end %}

      <li><a href="#other-papers" class="button small secondary radius"><strong>{{ len(other_articles) }}</strong> other papers</a></li>

    </ul>

  </div>
</div>

{% end %}


<div class="row">
  <div class="small-12 columns">

    {% if local_articles %}

    <h2 id="local-papers">Papers with local authors</h2>

    {% for article in local_articles %}

    <div class="row small-listing-row local-paper-listing">
      <div class="small-12 columns">

        <div class="row">

          <div class="small-12 medium-9 columns">

            <div class="row">
              <div class="small-12 columns">
                {% if article[-1] and len(article[-1]) > 0 %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">[{{ article[-1] }}] {{ article[2] }}</a></h4>
                {% else %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">{{ article[2] }}</a></h4>
                {% end %}
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="subheader">
                  {% raw article[4] %}
                </h6>
                {% if len(article[5]) > 0 %}
                <p class="comments-para">{% raw article[5] %}</p>
                {% end %}
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-right show-for-medium-up">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

          <div class="small-12 medium-3 columns text-center show-for-small-only">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

        </div>

        <div class="row paper-abstract" data-arxivid="{{ article[0] }}">
          <div class="small-12 columns">
            <p class="abstract-para-medium mathjax">{{ article[6] }}</p>
          </div>
        </div>

      </div>
    </div>

    {% end %}

    {% end %}



    {% if voted_articles %}

    <h2 id="voted-papers">Papers with votes</h2>

    {% for article in voted_articles %}

    <div class="row small-listing-row voted-paper-listing">
      <div class="small-12 columns">

        <div class="row">

          <div class="small-12 medium-9 columns">

            <div class="row">
              <div class="small-12 columns">
                {% if article[-1] and len(article[-1]) > 0 %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">[{{ article[-1] }}] {{ article[2] }}</a></h4>
                {% else %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">{{ article[2] }}</a></h4>
                {% end %}
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="subheader">{{ ', '.join((article[4].split(': ')[-1]).split(',')) }}</h6>
                {% if len(article[5]) > 0 %}
                <p class="comments-para">{% raw article[5] %}</p>
                {% end %}
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-right show-for-medium-up">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

          <div class="small-12 medium-3 columns text-center show-for-small-only">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

        </div>

        <div class="row paper-abstract" data-arxivid="{{ article[0] }}">
          <div class="small-12 columns">
            <p class="abstract-para-medium mathjax">{{ article[6] }}</p>
          </div>
        </div>

      </div>
    </div>

    {% end %}

    {% end %}


    {% if reserved_articles %}

    <h2 id="reserved-papers">Papers reserved for later discussion</h2>

    <p>These are papers reserved by people for discussion at a later date. All
    reservations are kept for 3 days after the date of the reservation.</p>

    {% for article in reserved_articles %}

    <div class="row small-listing-row reserved-paper-listing">
      <div class="small-12 columns">

        <div class="row">

          <div class="small-12 medium-9 columns">

            <div class="row">
              <div class="small-12 columns">
                {% if article[-1] and len(article[-1]) > 0 %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">[{{ article[-1] }}] {{ article[2] }}</a></h4>
                {% else %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">{{ article[2] }}</a></h4>
                {% end %}
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="subheader">{{ ', '.join((article[4].split(': ')[-1]).split(',')) }}</h6>
                {% if len(article[5]) > 0 %}
                <p class="comments-para">{% raw article[5] %}</p>
                {% end %}
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-right show-for-medium-up">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
               {{ article[-3].strftime('%m/%d/%Y') }}: <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button secondary radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

          <div class="small-12 medium-3 columns text-center show-for-small-only">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                 {{ article[-3].strftime('%m/%d/%Y') }}: <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button secondary radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

        </div>

        <div class="row paper-abstract hide" data-arxivid="{{ article[0] }}">
          <div class="small-12 columns">
            <p class="abstract-para-medium mathjax">{{ article[6] }}</p>
          </div>
        </div>

      </div>
    </div>

    {% end %}

    {% end %}


    {% if other_articles %}

    {% if other_articles and (local_articles or voted_articles or reserved_articles) %}
    <h2 id="other-papers">All other papers</h2>
    {% end %}

    {% for article in other_articles %}

    <div class="row small-listing-row other-paper-listing">
      <div class="small-12 columns">

        <div class="row">

          <div class="small-12 medium-9 columns">

            <div class="row">
              <div class="small-12 columns">
                {% if article[-1] and len(article[-1]) > 0 %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">[{{ article[-1] }}] {{ article[2] }}</a></h4>
                {% else %}
                <h4 class="paper-title mathjax" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">{{ article[2] }}</a></h4>
                {% end %}
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="subheader">{{ ', '.join((article[4].split(': ')[-1]).split(',')) }}</h6>
                {% if len(article[5]) > 0 %}
                <p class="comments-para">{% raw article[5] %}</p>
                {% end %}
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-right show-for-medium-up">

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-center show-for-small-only">

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

          </div>

        </div>

        <div class="row hide paper-abstract" data-arxivid="{{ article[0] }}">
          <div class="small-12 columns">
            <p class="abstract-para-medium mathjax">{{ article[6] }}</p>
          </div>
        </div>

      </div>
    </div>

    {% end %}

    {% end %}


  </div>
</div>

{% end %}

{% block pagejs %}

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
$(document).ready(function () {
  coffee.action_setup();
});
</script>

{% end %}
