{% extends "base.html" %}

{% block pagetitle %}contact us{% end %}

{% block pageheader %}

{% include "topbar.html" %}

<div class="row">
  <div class="small-12 columns">
    <h3>Contact us</h3>
  </div>
</div>

{% end %}


{% block pagecontent %}

<div class="row">
  <div class="small-12 columns">

    <p>Please let Waqas Bhatti know if something around here doesn't look right,
    or is broken, or if you have questions. The email address to use is:</p>

    <p class="text-center">
      <code>wbhatti -at- astro -dot- princeton -dot- edu</code>
    </p>

  </div>
</div>

{% end %}
