{% extends "base.html" %}

{% block pagetitle %}coffee error{% end %}

{% block pageheader %}

{% include "topbar.html" %}

<div class="row">
  <div class="small-12 columns">
    <h1>coffee error</h1>
  </div>
</div>

{% end %}


{% block pagecontent %}

<div class="row">

  <div class="small-12 columns">

    <p>Sorry!</p>

    <div class="panel callout radius">
      {% raw error_message %}
    </div>

    <p>Please <a href="/astroph-coffee/contact">let us know</a> about this
    failure!</p>

  </div>

</div>

{% end %}

{% block pagejs %}

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
$(document).ready(function () {
  coffee.action_setup();
});
</script>

{% end %}
