{% extends "base.html" %}

{% block pagetitle %}Astro-Coffee@Example{% end %}

{% block pageheader %}

{% include "topbar.html" %}

<div class="row">
  <div class="small-12 columns">
    <h1>Welcome to Astro-Coffee@Example!</h1>
  </div>
</div>

{% end %}


{% block pagecontent %}

<div class="row no-mathjax">
  <div class="small-12 columns">

    <p>Every weekday, the {{ coffee_department }} at {{ coffee_institution }}
      gathers in <strong>{{ coffee_building }}'s {{ coffee_room }}</strong> to
      discuss the latest <a href="/astroph-coffee/papers/today">arXiv
      astro-ph</a> posting at <strong>10:30 AM</strong> over coffee. Visitors to
      the department are always welcome to join these discussions.</p>

    <p>This <a href="/astroph-coffee/about">astro-coffee server</a> is meant to
      help organize the discussion. It automatically finds and highlights papers
      from local authors, and allows the community to vote for articles they
      want to talk about. New paper listings are fetched from the arXiv between
      00:25 and 00:35 UTC Sunday through Thursday during the week.</p>

    <p>Currently, voting on papers is open between
      <strong>8:45 PM</strong> the night before and <strong>10:28 AM</strong>
      the morning of Astro-coffee. Everyone gets five votes (one per paper) to
      use as they please.</p>

  </div>
</div>

{% end %}
