{% extends "base.html" %}

{% block pagetitle %}Astro-Coffee@Princeton{% end %}

{% block pageheader %}

{% include "topbar.html" %}

<div class="row">
  <div class="small-12 columns">
    <h1>Welcome to Astro-Coffee@Princeton!</h1>
  </div>
</div>

{% end %}


{% block pagecontent %}

<div class="row">
  <div class="small-12 columns">

    <p>Every weekday, the {{ coffee_department }} at {{ coffee_institution }}
      gathers in {{ coffee_building }}'s {{ coffee_room }} to discuss the
      latest <a href="/astroph-coffee/papers/today">arXiv astro-ph</a>
      posting at <strong>{{ coffeetime_local }}</strong> ({{ coffeetime_utc }})
      over coffee. Visitors to the department are always welcome to join these
      discussions.</p>

    <p>This <a href="/astroph-coffee/about">astro-coffee server</a> is meant to
      help organize the discussion. It automatically finds and highlights papers
      from local authors, and allows the community to vote for articles they
      want to talk about. New paper listings are fetched from the arXiv between
      00:15 and 00:25 UTC Sunday through Thursday during the week.</p>

    <p>Currently, voting on papers is open between the hours of
      <strong>{{ voting_localstart }}</strong> ({{ voting_start }})
      and <strong>{{ voting_localend }}</strong> ({{ voting_end }}).
      Everyone gets five votes (one per paper) to use as they please.</p>

  </div>
</div>

{% end %}
