{% extends "base.html" %}

{% block pagetitle %}Papers for {{ todays_date }}{% end %}

{% block pageheader %}

{% include "topbar-listing.html" %}

<div class="row">
  <div class="small-12 columns">
    <h1>Papers for {{ todays_date }}</h1>
  </div>
</div>

{% end %}

{% block pagecontent %}

{% if local_articles or voted_articles %}

<div class="row">
  <div class="small-12 columns">

    <ul class="inline-list">

      {% if local_articles and len(local_articles) > 1 %}
      <li><a href="#local-papers" class="button secondary radius"><strong>{{ len(local_articles) }}</strong> papers with local authors</a></li>
      {% elif local_articles and len(local_articles) == 1 %}
      <li><a href="#local-papers" class="button secondary radius"><strong>1</strong> paper with local authors</a></li>
      {% end %}

      {% if voted_articles and len(voted_articles) > 1 %}
      <li><a href="#voted-papers" class="button secondary radius"><strong>{{ len(voted_articles) }}</strong> papers with votes</a></li>
      {% elif voted_articles and len(voted_articles) == 1 %}
      <li><a href="#voted-papers" class="button secondary radius"><strong>{{ len(voted_articles) }}</strong> paper with votes</a></li>
      {% end %}

      <li><a href="#other-papers" class="button secondary radius"><strong>{{ len(other_articles) }}</strong> other papers</a></li>

    </ul>

  </div>
</div>

{% end %}


<div class="row">
  <div class="small-12 columns">

    {% if local_articles %}

    <h2 id="local-papers">Papers with local authors</h2>

    {% for article in local_articles %}

    <div class="row small-listing-row local-paper-listing">
      <div class="small-12 columns">

        <div class="row">

          <div class="small-12 medium-9 columns">

            <div class="row">
              <div class="small-12 columns">
                <h4 class="paper-title" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">{{ article[2] }}</a></h4>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="subheader">{{ ', '.join((article[4].split(': ')[-1]).split(',')) }}</h6>
                {% if len(article[5]) > 0 %}
                <p class="comments-para"><em>{% raw article[5] %}</em></p>
                {% end %}
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-right show-for-medium-up">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

          <div class="small-12 medium-3 columns text-center show-for-small-only">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

        </div>

        <div class="row paper-abstract" data-arxivid="{{ article[0] }}">
          <div class="small-12 columns">
            <p class="abstract-para-medium">{{ article[6] }}</p>
          </div>
        </div>

      </div>
    </div>

    {% end %}

    {% end %}



    {% if voted_articles %}

    <h2 id="voted-papers">Papers with votes</h2>

    {% for article in voted_articles %}

    <div class="row small-listing-row voted-paper-listing">
      <div class="small-12 columns">

        <div class="row">

          <div class="small-12 medium-9 columns">

            <div class="row">
              <div class="small-12 columns">
                <h4 class="paper-title" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">{{ article[2] }}</a></h4>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="subheader">{{ ', '.join((article[4].split(': ')[-1]).split(',')) }}</h6>
                {% if len(article[5]) > 0 %}
                <p class="comments-para"><em>{% raw article[5] %}</em></p>
                {% end %}
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-right show-for-medium-up">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

          <div class="small-12 medium-3 columns text-center show-for-small-only">

            {% if article[9] > 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% elif article[9] == 1 %}
              <h5>
                <strong>{{ article[9] }}</strong> vote
              </h5>
            {% elif article[9] == 0 %}
              <h5>
                <strong>{{ article[9] }}</strong> votes
              </h5>
            {% end %}

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            {% if len(article[11]) > 0 %}
            <div class="row small-listing-row">
              <div class="small-12 columns">
                Presenters: <strong>{{ article[11] }}</strong>
              </div>
            </div>
            {% end %}

          </div>

        </div>

        <div class="row paper-abstract" data-arxivid="{{ article[0] }}">
          <div class="small-12 columns">
            <p class="abstract-para-medium">{{ article[6] }}</p>
          </div>
        </div>

      </div>
    </div>

    {% end %}

    {% end %}



    {% if other_articles %}

    {% if other_articles and (local_articles or voted_articles) %}
    <h2 id="other-papers">All other papers</h2>
    {% end %}

    {% for article in other_articles %}

    <div class="row small-listing-row other-paper-listing">
      <div class="small-12 columns">

        <div class="row">

          <div class="small-12 medium-9 columns">

            <div class="row">
              <div class="small-12 columns">
                <h4 class="paper-title" data-arxivid="{{ article[0] }}"><a href="#" title="click to see/hide abstract">{{ article[2] }}</a></h4>
              </div>
            </div>

            <div class="row">
              <div class="small-12 columns">
                <h6 class="subheader">{{ ', '.join((article[4].split(': ')[-1]).split(',')) }}</h6>
                {% if len(article[5]) > 0 %}
                <p class="comments-para"><em>{% raw article[5] %}</em></p>
                {% end %}
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-right show-for-medium-up">

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

          </div>

          <div class="small-12 medium-3 columns text-center show-for-small-only">

            <div class="row">
              <div class="small-12 columns">
                <a href="{{ article[8] }}"
                   class="button success radius ">
                  Get PDF
                </a>
              </div>
            </div>

            <div class="row small-listing-row">
              <div class="small-12 columns">
                Paper {{ article[1] }} &mdash; <a href="{{ article[7] }}">{{ article[0] }}</a>
              </div>
            </div>

          </div>

        </div>

        <div class="row hide paper-abstract" data-arxivid="{{ article[0] }}">
          <div class="small-12 columns">
            <p class="abstract-para-medium">{{ article[6] }}</p>
          </div>
        </div>

      </div>
    </div>

    {% end %}

    {% end %}


  </div>
</div>

{% end %}

{% block pagejs %}

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
$(document).ready(function () {
  coffee.action_setup();
});
</script>

{% end %}
