{% extends "base.html" %}

{% block pagetitle %}{{ search_page_title }}{% end %}

{% block pageheader %}

{% include "topbar-search.html" %}

{% end %}


{% block pagecontent %}

<div class="row">
  <a href="#top">
    <div class="small-12 columns">
      <h2 class="show-for-medium-up">{{ search_page_title }}</h2>
      <h3 class="show-for-small-only">{{ search_page_title }}</h3>
    </div>
  </a>
</div>


<form method="POST" action="/astroph-coffee/search"
      class="search-form" role="search">
  {% module xsrf_form_html() %}
  <div class="row large-margin-top">

    <div class="small-12 columns">

      <div class="row collapse postfix-radius">
        <div class="small-10 columns">
          <input type="search"
                 name="searchquery"
                 placeholder="authors, title, abstract text, article type, arXiv ID...">
        </div>
        <div class="small-2 columns show-for-medium-up">
          <a href="#" class="button success postfix search-form-go">Search</a>
        </div>
        <div class="small-2 columns show-for-small-only">
          <a href="#" class="button success postfix search-form-go">Go</a>
        </div>
      </div>

    </div>

  </div>
</form>

<div class="row">
  <div class="small-12 columns">

    <dl class="accordion" data-accordion>

      <dd class="accordion-navigation">
        <a href="#panel-basic">HELP: basic search usage</a>
        <div id="panel-basic" class="content">

          <table class="help-table">

            <thead>
              <tr>
                <th width="150">Search type</th>
                <th>How it's done</th>
                <th width="300">Examples</th>
              </tr>
            </thead>

            <tr>
              <td>Full-text keyword search</td>
              <td>Just type in the keywords you want to use. To look for
                alternate forms of keywords, use the <strong>*</strong>
                (asterisk) operator. All keywords separated by spaces will
                be required to appear in the results. They will be matched
                against all content fields in the database if no specific
                content fields are provided (see below). To search for a
                specific phrase, enclose it in double quotes.</td>
              <td><strong>gaussian process regression</strong><br><strong>Kepler
              exoplanet*</strong><br>(matches exoplanet, exoplanets,
              exoplanetary)<br><strong>&quot;M dwarf&quot; flar*</strong></td>
            </tr>

            <tr>
              <td>Boolean operators</td>
              <td>Use <strong>NOT keyword</strong> to make sure keyword doesn't show up in the results. Use <strong>keyword1 OR keyword2</strong> to match either keyword1 or keyword2. Use <strong>keyword1 AND keyword2</strong> to make sure both or all keywords show up in the results. You can use parentheses to specify the operator precedence.</td>
              <td><strong>Kepler NOT transit*</strong><br><strong>(K2 OR Gaia) AND supernova*</strong><br></td>
            </tr>

          </table>

        </div>
      </dd>

      <dd class="accordion-navigation">
        <a href="#panel-advanced">HELP: advanced search using content fields</a>
        <div id="panel-advanced" class="content">

          <table class="help-table">

            <thead>
              <tr>
                <th width="150">Search type</th>
                <th>How it's done</th>
                <th width="300">Examples</th>
              </tr>
            </thead>

            <tr>
              <td>Author content field</td>
              <td>Use <strong>authors:author_name</strong>. All of the rules
              above for Booleans and multiple matching work here too (except
              for exact phrases in double quotes).</td>
              <td><strong>authors:Lupton authors:Gunn NOT SDSS</strong><br><strong>authors:Bakos NOT planet*</strong></td>
            </tr>

            <tr>
              <td>Title content field</td>
              <td>Use <strong>title:keyword</strong> to search for keyword in
              title. All of the rules above for Booleans and multiple matching
              work here too (except for exact phrases in double quotes).</td>
              <td><strong>title:Gaia authors:Eyer transients</strong><br><strong>title:LSST authors:Juric</strong></td>
            </tr>

            <tr>
              <td>Abstract content field</td>
              <td>Use <strong>abstract:keyword</strong> to search for keyword in
              the article abstract. All of the rules above for Booleans and
              multiple matching work here too (except for exact phrases in
              double quotes). The <strong>*</strong> operator will be
              particularly useful here.</td>
              <td><strong>abstract:transient* title:PTF NOT title:supernova*</strong></td>
            </tr>

            <tr>
              <td>arXiv ID content field</td>
              <td>Type in an arXiv ID (without the 'arXiv:' prefix) to look up the paper: <strong>arxiv_id:XXXX.YYYY</strong></td>
              <td><strong>arxiv_id:1601.05121</strong></td>
            </tr>

            <tr>
              <td>Article type content field</td>
              <td>Use either <strong>article_type:astronomy</strong> or <strong>article_type:crosslists</strong> to restrict results to the respective listings.</td>
              <td><strong>abstract:plasma title:sun article_type:astronomy</strong></td>
            </tr>

          </table>

        </div>
      </dd>

    </dl>

  </div>
</div>



{% if search_page_type == 'results' %}


<div class="row large-margin-top">
  <div class="small-12 columns">
    <h3>Search results</h3>

    <div class="search-result-info">
      <p>{% raw search_result_info %}<span class="local-filter"></span><span class="nvotes-filter"></span></p>
    </div>

  </div>
</div>

{% if search_nmatches > 0 %}

<div class="row search-result-info">

  <div class="small-12 columns">
    <p>Show matching items in: &nbsp;
      <select class="sortorder-select">
        <option value="desc" selected>descending</option>
        <option value="asc">ascending</option>
      </select>
      &nbsp;order sorted by: &nbsp;
      <select class="sortby-select">
        <option value="relevance" selected>relevance</option>
        <option value="utcdate">date of posting</option>
        <option value="nvotes">number of votes</option>
      </select>
      &nbsp;
      <a class="button radius resort-results-go">Resort</a>
    <br>
    <input type="checkbox"
           name="localauthors-check"
           class="filter-check"
           id="localauthors-check"><label for="localauthors-check">Papers by local authors only</label>&nbsp;
    <input type="checkbox"
           name="voted-check"
           class="filter-check"
           id="voted-check"><label for="voted-check">Papers with votes only</label></p>
  </div>

</div>

<div class="search-result-container">

{% for resultindex in range(search_nmatches) %}

  <div data-arxivid="{{ search_results['arxiv_id'][resultindex] }}"
       data-utcdate="{{ search_results['utcdate'][resultindex] }}"
       data-relevance="{{ search_results['overall_bm25'][resultindex] }}"
       data-nvotes="{{ search_results['nvotes'][resultindex] }}"
       data-localauthors="{{ search_results['local_authors'][resultindex] }}"
       class="row small-listing-row other-paper-listing large-margin-top">
    <div class="small-12 columns">

      <div class="row">

        <div class="small-12 medium-9 columns">

          <div class="row">
            <div class="small-12 columns">
              <h4 data-arxivid="{{ search_results['arxiv_id'][resultindex] }}"
                  class="paper-title mathjax"><a href="#" title="click to see/hide abstract">{{ search_results['title'][resultindex] }}</a></h4>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              {% if search_results['local_authors'][resultindex] and search_results['local_author_indices'][resultindex] and len(search_results['local_author_indices'][resultindex]) > 0 %}

              {% set localinds = [int(x) for x in search_results['local_author_indices'][resultindex].split(',')] %}
              {% set authorlist = [('<strong>%s</strong>' % author if authorind in localinds else author) for (authorind, author) in enumerate(search_results['authors'][resultindex].split(','))] %}
              <h6 class="subheader">{% raw ', '.join(authorlist) %}</h6>

              {% else %}

              <h6 class="subheader">{{ ', '.join((search_results['authors'][resultindex].split(','))) }}</h6>

              {% end %}

              {% if len(search_results['comments'][resultindex]) > 0 %}
              <p class="comments-para">{% raw search_results['comments'][resultindex] %}</p>
              {% end %}

            </div>
          </div>

        </div>

        <div class="small-12 medium-3 columns text-right show-for-medium-up">

          <div class="row">
            <div class="small-12 columns">
              <a href="{{ search_results['pdf'][resultindex] }}"
                 class="button secondary radius ">
                Get PDF
              </a>
            </div>
          </div>

          <div class="row small-listing-row">
            <div class="small-12 columns">

              {% if search_results['nvotes'][resultindex] > 1 %}
              <h5>
                <strong>{{ search_results['nvotes'][resultindex] }}</strong> votes
              </h5>
              {% elif search_results['nvotes'][resultindex] == 1 %}
              <h5>
                <strong>{{ search_results['nvotes'][resultindex] }}</strong> vote
              </h5>
              {% end %}
            </div>
          </div>

          <div class="row small-listing-row">
            <div class="small-12 columns">
              <a title="see the Astro-Coffee listings on this date" href="/astroph-coffee/archive/{{ search_results['utcdate'][resultindex].strftime('%Y%m%d') }}">Paper {{ search_results['day_serial'][resultindex] }} on {{ search_results['utcdate'][resultindex] }}</a><br>
              <a href="{{ search_results['link'][resultindex] }}">{{ search_results['arxiv_id'][resultindex] }}</a>
            </div>
          </div>

        </div>

        <div class="small-12 medium-3 columns text-center show-for-small-only">

          <div class="row">
            <div class="small-12 columns">
              <a href="{{ search_results['pdf'][resultindex] }}"
                 class="button secondary success radius ">
                Get PDF
              </a>
            </div>
          </div>

          <div class="row small-listing-row">
            <div class="small-12 columns">

              {% if search_results['nvotes'][resultindex] > 1 %}
              <h5>
                <strong>{{ search_results['nvotes'][resultindex] }}</strong> votes
              </h5>
              {% elif search_results['nvotes'][resultindex] == 1 %}
              <h5>
                <strong>{{ search_results['nvotes'][resultindex] }}</strong> vote
              </h5>
              {% end %}

            </div>
          </div>

          <div class="row small-listing-row">
            <div class="small-12 columns">
              <a title="see the Astro-Coffee listings on this date" href="/astroph-coffee/archive/{{ search_results['utcdate'][resultindex].strftime('%Y%m%d') }}">Paper {{ search_results['day_serial'][resultindex] }} on {{ search_results['utcdate'][resultindex] }}</a><br>
              <a href="{{ search_results['link'][resultindex] }}">{{ search_results['arxiv_id'][resultindex] }}</a>
            </div>
          </div>

        </div>

      </div>

      <div class="row hide paper-abstract" data-arxivid="{{ search_results['arxiv_id'][resultindex] }}">
        <div class="small-12 columns">
          <p class="abstract-para-medium mathjax">{{ search_results['abstract'][resultindex] }}</p>
        </div>
      </div>

    </div>
  </div>

</div>

{% end %}

{% end %}

{% end %}


{% end %}


{% block pagejs %}

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
  $(document).ready(function () {
  coffee.action_setup();
  });
</script>

{% end %}
