{% extends "base.html" %}

{% block pagetitle %}{{ search_page_title }}{% end %}

{% block pageheader %}

{% include "topbar-search.html" %}

{% end %}


{% block pagecontent %}

<div class="row">
  <a href="#top">
    <div class="small-12 columns">
      <h2 class="show-for-medium-up">{{ search_page_title }}</h2>
      <h3 class="show-for-small-only">{{ search_page_title }}</h3>
    </div>
  </a>
</div>

<div class="row">
  <div class="small-12 medium-4 columns">

  </div>
  <div class="small-12 medium-4 columns">

  </div>
  <div class="small-12 medium-4 columns">

  </div>

</div>

<form method="POST" action="/astroph-coffee/search" class="search-form">
  {% module xsrf_form_html() %}
  <div class="row large-margin-top">

    <div class="small-12 columns">

      <div class="row collapse postfix-radius">
        <div class="small-10 columns">
          <input type="text"
                 name="searchquery"
                 placeholder="authors, title, abstract text, article type, date of posting, arXiv ID...">
        </div>
        <div class="small-2 columns show-for-medium-up">
          <a href="#" class="button success postfix search-form-go">Search</a>
        </div>
        <div class="small-2 columns show-for-small-only">
          <a href="#" class="button success postfix search-form-go">Go</a>
        </div>
      </div>

    </div>

  </div>
</form>

{% if search_page_type == 'results' %}

<div class="row">
  <div class="small-12 columns">
    {% raw search_result_info %}
  </div>
</div>

{% if search_nmatches > 0 %}

{% for resultindex in range(search_nmatches) %}

<div class="row small-listing-row other-paper-listing large-margin-top">
  <div class="small-12 columns">

    <div class="row">

      <div class="small-12 medium-9 columns">

        <div class="row">
          <div class="small-12 columns">
            <h4 class="paper-title mathjax" data-arxivid="{{ search_results['arxiv_id'][resultindex] }}">{{ resultindex+1 }}. <a href="#" title="click to see/hide abstract">{{ search_results['title'][resultindex] }}</a></h4>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <h6 class="subheader">{{ ', '.join((search_results['authors'][resultindex].split(','))) }}</h6>
            {% if len(search_results['comments'][resultindex]) > 0 %}
            <p class="comments-para">{% raw search_results['comments'][resultindex] %}</p>
            {% end %}
          </div>
        </div>

      </div>

      <div class="small-12 medium-3 columns text-right show-for-medium-up">

        <div class="row">
          <div class="small-12 columns">
            <a href="{{ search_results['pdf'][resultindex] }}"
               class="button secondary radius ">
              Get PDF
            </a>
          </div>
        </div>

        <div class="row small-listing-row">
          <div class="small-12 columns">
            <a title="see the Astro-Coffee listings on this date" href="/astroph-coffee/archive/{{ search_results['utcdate'][resultindex].strftime('%Y%m%d') }}">Paper {{ search_results['day_serial'][resultindex] }} on {{ search_results['utcdate'][resultindex] }}</a><br>
            <a href="{{ search_results['link'][resultindex] }}">{{ search_results['arxiv_id'][resultindex] }}</a>
          </div>
        </div>

      </div>

      <div class="small-12 medium-3 columns text-center show-for-small-only">

        <div class="row">
          <div class="small-12 columns">
            <a href="{{ search_results['pdf'][resultindex] }}"
               class="button secondary success radius ">
              Get PDF
            </a>
          </div>
        </div>

        <div class="row small-listing-row">
          <div class="small-12 columns">
            <a title="see the Astro-Coffee listings on this date" href="/astroph-coffee/archive/{{ search_results['utcdate'][resultindex].strftime('%Y%m%d') }}">Paper {{ search_results['day_serial'][resultindex] }} on {{ search_results['utcdate'][resultindex] }}</a><br>
            <a href="{{ search_results['link'][resultindex] }}">{{ search_results['arxiv_id'][resultindex] }}</a>
          </div>
        </div>

      </div>

    </div>

    <div class="row hide paper-abstract" data-arxivid="{{ search_results['arxiv_id'][resultindex] }}">
      <div class="small-12 columns">
        <p class="abstract-para-medium mathjax">{{ search_results['abstract'][resultindex] }}</p>
      </div>
    </div>

  </div>
</div>

{% end %}

{% end %}

{% end %}


{% end %}


{% block pagejs %}

<script src="{{ static_url("js/coffee.js") }}"></script>

<script>
$(document).ready(function () {
  coffee.action_setup();
});
</script>

{% end %}
