<nav class="top-bar" data-topbar>

  <ul class="title-area">

    <li class="name">
      <h1>
        <a href="/astroph-coffee">
          Astro-Coffee@Example
        </a>
      </h1>
    </li>

    <!-- activates the mobile menu -->
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>menu</span></a>
    </li>

  </ul>

  <section class="top-bar-section">

    <ul class="left">
      <li class="has-form">
        <a href="/astroph-coffee/papers/today" class="button radius expand">
          Today's papers
        </a>
      </li>
      <li class="has-form">
        <a href="/astroph-coffee/archive" class="button radius expand">
          Astro-Coffee archive
        </a>
      </li>
      <li class="has-form">
        <a href="http://adsabs.harvard.edu/abstract_service.html"
           class="button radius expand">Search ADS</a>
      </li>
    </ul>

    <ul class="right">
      <li class="show-for-medium-up">
        <a href="/astroph-coffee/local-authors">Local authors</a>
      </li>
      <li>
        {% if new_user %}
        <a>Hi there newuser@{{ user_name.split('@')[-1] }}!</a>
        {% end %}
      </li>
    </ul>

  </section>

</nav>

<div class="fixed" >
  <div class="small-12 medium-8 medium-centered columns" id="message-bar">
    {% raw flash_message %}
  </div>
</div>
