<div class="fixed">
  <nav class="top-bar" data-topbar>

    <ul class="title-area">

      <li class="name">
        <h1>
          <a href="/astro-ph-coffee">
            Astro-ph Coffee
          </a>
        </h1>
      </li>

      <!-- activates the mobile menu -->
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>menu</span></a>
      </li>

    </ul>

    <section class="top-bar-section">

      <ul class="left">
        <li>
          {{ user_name }}
        </li>
      </ul>

    </section>

  </nav>
</div>
