<div class="fixed">
  <nav class="top-bar" data-topbar>

    <ul class="title-area">

      <li class="name">
        <h1>
          <a href="/astroph-coffee">
            Astro-Coffee@Example
          </a>
        </h1>
      </li>

      <!-- activates the mobile menu -->
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>menu</span></a>
      </li>

    </ul>

    <section class="top-bar-section">

      <ul class="left">
        <li class="has-form">
          <a href="/astroph-coffee/papers/today" class="button radius expand">Refresh
          this listing</a>
        </li>
        <li class="has-form">
          <a href="/astroph-coffee/archive" class="button radius expand">Astro-Coffee archive</a>
        </li>
      </ul>

      <ul class="right">
        <li class="has-form topbar-search-form">
          <div class="row collapse">
            <div class="large-10 small-10 columns">
              <form action="/astroph-coffee/search" method="post">
                {% module xsrf_form_html() %}
                <input type="text"
                       placeholder="Search the Astro-Coffee archive">
              </form>
            </div>
            <div class="large-2 small-2 columns">
              <a href="#" class="button expand topbar-search-go">Go</a>
            </div>
          </div>
        </li>

        <li class="show-for-medium-up">
          <a href="/astroph-coffee/search">Search help</a>
        </li>

        <li class="show-for-medium-up">
          <a href="/astroph-coffee/local-authors">Local authors</a>
        </li>

        <li class="show-for-medium-up">
          <a data-options="align:left"
             data-dropdown="preferences-pane">View options</a>
        </li>
      </ul>


    </section>

  </nav>
</div>

<div class="fixed" >
  <div class="small-12 medium-8 medium-centered columns" id="message-bar">
    {% raw flash_message %}
  </div>
</div>

<div id="preferences-pane" data-dropdown-content class="tiny f-dropdown content">

  <h6>Abstract visibility</h6>
  <ul class="no-bullet">
    <li>
      <input type="checkbox" id="show-local-check" checked>
      <label for="show-local-check">Local abstracts</label>
    </li>
    <li>
      <input type="checkbox" id="show-voted-check">
      <label for="show-voted-check">Voted abstracts</label>
    </li>
    <li>
      <input type="checkbox" id="show-other-check">
      <label for="show-other-check">Other abstracts</label>
    </li>
  </ul>

  <h6>Abstract text size</h6>
  <ul class="no-bullet">
    <li>
      <input type="radio" id="font-size-small" name="font-size-radio">
      <label for="font-size-small">Small font</label>
    </li>
    <li>
      <input type="radio" id="font-size-medium" name="font-size-radio" checked>
      <label for="font-size-medium">Medium font</label>
    </li>
    <li>
      <input type="radio" id="font-size-large" name="font-size-radio">
      <label for="font-size-large">Large font</label>
    </li>
  </ul>

</div>
