{% if 'anonuser@' not in user_name %}

<div class="fixed">
  <nav class="top-bar" data-topbar>

    <ul class="title-area">

      <li class="name">
        <h1>
          <a href="/astroph-coffee">
            Astro-ph Coffee
          </a>
        </h1>
      </li>

      <!-- activates the mobile menu -->
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>menu</span></a>
      </li>

    </ul>

    <section class="top-bar-section">

      <ul class="left">
        <li>
          <a title="you are signed in as this user">Signed in as {{ user_name }}</a>
        </li>
      </ul>

      <ul class="right">

        <li class="has-form">

          <a href="#" class="active button small radius"
             id="vote-submit"
             name="vote-submit">Submit votes</a>
        </li>

      </ul>

    </section>

  </nav>
</div>

{% else %}

<div class="fixed">
  <nav class="top-bar" data-topbar>

    <ul class="title-area">

      <li class="name">
        <h1>
          <a href="/astroph-coffee">
            Astro-ph Coffee
          </a>
        </h1>
      </li>

      <!-- activates the mobile menu -->
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>menu</span></a>
      </li>

    </ul>

    <section class="top-bar-section">

      <ul class="left">
        <li>
          <a title="you are not signed in">{{ user_name }}</a>
        </li>
      </ul>

      <ul class="right">

          <li>
            <a title="Enter an email address to vote for articles">Email
            address needed to vote for articles</a>
          </li>

        <li class="has-form">

          <input type="email"
                 placeholder="person@example.edu"
                 id="voter-email"
                 name="voter-email">

        </li>

        <li class="has-form">

          <a href="#" class="active button small radius"
             id="vote-submit"
             name="vote-submit">Submit votes</a>
        </li>

      </ul>

    </section>

  </nav>
</div>

{% end %}
