<div class="fixed">
  <nav class="top-bar" data-topbar>

    <ul class="title-area">

      <li class="name">
        <h1>
          <a href="/astroph-coffee">
            Astro-Coffee@Princeton
          </a>
        </h1>
      </li>

      <!-- activates the mobile menu -->
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>menu</span></a>
      </li>

    </ul>

    <section class="top-bar-section">

      <ul class="left">
        <li class="has-form">
          <a href="/astroph-coffee/vote" class="button radius expand">Vote for
          today's papers</a>
        </li>
        <li class="has-form">
          <a href="/astroph-coffee/papers" class="button radius expand">See today's voted papers</a>
        </li>
        <li class="has-form">
          <a href="http://adsabs.harvard.edu/abstract_service.html" class="button radius
          expand">Search ADS</a>
        </li>
      </ul>

      <ul class="right">
        <li>
          {% if new_user %}
          <a>Hi there newuser@{{ user_name.split('@')[-1] }}!</a>
          {% else %}
          <a>Hi {{ user_name }}!</a>
          {% end %}
        </li>
      </ul>

    </section>

  </nav>
</div>

<div class="fixed" >
  <div class="small-12 medium-8 medium-centered columns" id="message-bar">
    {% raw flash_message %}
  </div>
</div>
