*.pyc
DEBUG
*sqlite*
testfiles/
run/*
run/logs/*.log
run/pids/
dist/
*egg*
*build*
*#*#*
*.pkl
*~
*.fits*
*.qastrom
*.match
*.strans
*.trans
*dump*
docs/users.txt
*bundled*
*tmp*
*.Z
*.gz
*.bz2
GITREV
.emailsettings
*bin*
