/* our own fonts */

@font-face {
    font-family: 'pt_sansregular';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* overriding fonts */

body, html {
    font-family: "pt_sansregular", "PT Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "open_sansregular", "Open Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}

/* footer styles */

footer {
    color: #808080;
}

.footer-link-list {
    margin-left: inherit;
}

footer ul {
    line-height: 1.3;
}

footer li {
    font-size: 90%;
}


/* button styles */
.button {
    font-family: "open_sansregular", "Open Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}

.reserve-button, .vote-button {
    margin-bottom: 0.75rem;
}

/* top-bar styles */

.top-bar input, .top-bar .button, .top-bar button {
    font-size: 0.77778rem;
    position: relative;
    top: 7px;
    height: auto;
    padding-top: 0.35rem;
}

.top-bar .button, .top-bar button {
    padding-top: 0.45rem;
    padding-bottom: 0.35rem;
    margin-bottom: 0px;
}

.top-bar-section ul li > a {
    font-family: "open_sansregular", "Open Sans", "Droid Sans", "Helvetica", "Arial", sans-serif;
}

#voter-email {
    width: 10.5rem;
}

/* a little Princeton branding */
.top-bar .name h1 a {
    color: #FF8F00;
}

/* article listing styles */

.crosslist-article {
    color: #333;
    background: rgba(246, 215, 215, 1);
}

.listing-row {
    padding-bottom: 2.5rem;
}

.small-listing-row {
    padding-bottom: 1.0rem;
}

p.abstract-para-large {
    font-size: 20px;
}

p.abstract-para-medium {
    font-size: 18px;
}

p.abstract-para-small {
    font-size: small;
}

p.comments-para {
    font-size: small;
}


/* drop-down styles */

input[type="radio"] {
    margin: 0;
}
input[type="checkbox"] {
    margin: 0;
}


/* default row max-width set to 65 em == 1040 px */
.row {
    max-width: 60em;
}

/* overriding link colors */

a {
    color: #0054b5;
}

a:hover, a:focus {
    color: #060485;
}

/* overriding line-height */

p {
    line-height: 1.4;
}

p.normal {
    line-height: 1.6;
}

.subheader {
    line-height: 1.1;
    color: #636363;
}

/* search page styles */
.large-margin-top {
    margin-top: 1.5em;
}

.search-form input {
    font-size: 18px;
    height: 3rem;
    line-height: 3;
    border-radius: 5px 0 0 5px;
}

.search-form .button {
    font-size: 18px;
    height: 3rem;
    line-height: 2.7;
    border-radius: 0 5px 5px 0px;
}

.topbar-search-form {
    width: 21em;
    max-width: 35em;
}

.topbar-search-form input {
    border-radius: 5px 0 0 5px;
    height: 2.0em;
    font-size: 16px;
    line-height: 1.1;
}

.topbar-search-form .button {
    border-radius: 0 5px 5px 0px;
    height: 2.0em;
    font-size: 16px;
    line-height: 1.1;
}

.help-table {
    font-size: 14px;
}

.search-result-info p {
    font-size: 20px;
}

.search-result-info div {
    font-size: 20px;
}

.search-result-info label {
    font-size: 20px;
}

.search-result-info select {
    width: auto;
}
.search-result-info input {
    width: auto;
}

.search-result-info .button {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
