@media (min-width:1200px) {
  .container {
    max-width:60em;
  }
}

footer {
  font-size: smaller;
}

footer img {
  max-height: 5rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-nav form .input-group input {
  width: 16.5rem;
}

.navbar-dark .navbar-brand {
  color: #FF8F00;
}
